<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>FirebaseAppDelegateProxyEnabled</key>
        <true/>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>com.googleusercontent.apps.894270925824-dqots6jl9tbd0bunp4ui534v60ep4bnv</string>
                </array>
            </dict>
        </array>
        <key>GIDClientID</key>
        <string>894270925824-dqots6jl9tbd0bunp4ui534v60ep4bnv.apps.googleusercontent.com</string>
        <key>UIApplicationSceneManifest</key>
        <dict>
            <key>UIApplicationSupportsMultipleScenes</key>
            <false/>
            <key>UISceneConfigurations</key>
            <dict>
                <key>UIWindowSceneSessionRoleApplication</key>
                <array>
                    <dict>
                        <key>UISceneConfigurationName</key>
                        <string>Default Configuration</string>
                        <key>UISceneDelegateClassName</key>
                        <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
                        <key>UISceneStoryboardFile</key>
                        <string>Main</string>
                    </dict>
                </array>
                <key>UIAppFonts</key>
                <array>
                    <string>RobotoSlab-Regular.ttf</string>
                    <string>RobotoSlab-Bold.ttf</string>
                </array>
            </dict>
        </dict>
    </dict>
</plist>
